.container {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
}

.entryData {
    border: 2px solid rgb(237, 237, 237);
    background-color: rgb(250, 250, 250);
    width: auto;
    padding: 20px 25px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    height: 33px;
} 

.entryproject{
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.entryproject button {
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.entryproject button span {
    margin-top: 4px;
    margin-left: 7px;
    font-weight: 600;
}

.entryproject input {
    border: none;
    height: 30px;
    width: 90%;
    
}

.entryproject input:hover {
    border: 1px solid rgb(237, 237, 237);
}

.spanName{
    margin-left: 10px;
    font-weight: 600;
}

.entryTime {
    display:flex;
    justify-content: space-between;
    width: 30%;
}

.time {
    font-weight: 600;
    font-size: 1.6rem;
}



.startBtn {
    all: unset;
    background-color: rgb(24, 203, 252);
    margin-bottom: 1px;
    padding: 8px 28px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.startBtn:hover {
    background-color:rgb(23, 170, 211);
}

.stopBtn {
    all: unset;
    background-color: #ff3e4e;
    margin-bottom: 1px;
    padding: 8px 28px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.stopBtn:hover {
    background-color: #d63542;
}

.projectContainer {
    width: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 5px solid rgb(214, 214, 214);
    border-bottom-right-radius:5px ;
    border-bottom-left-radius:5px ;
}

@media (max-width:1200px){
    .time{
        font-size: 1.3rem;
        margin-top: 5px;
    }
    .entryproject input {
        width: 70%;
    }
}

@media (max-width:768px) {
    .startBtn , .stopBtn {
        padding: 8px 18px;
    }
    .entryTime{
        width: 40%;
    }
    .entryproject{
        width: 55%;
    }
    .time {
        font-size: 1.1rem;
        margin-top: 8px;
    }
}

@media (max-width:555px) {
    .entryData{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .entryproject{
        width: 100%;
        margin-bottom: 15px;
    }

    .entryTime{
        width: 100%;
    }

    .entryproject input{
        width: 50%;
    }
}