.container {
    display: flex;
    justify-self: center;
}

.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(237, 237, 237);
    background-color: rgb(250, 250, 250);
    height: 60px;
}

.rgNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.rgNav li {
    list-style: none;
   
}

.lfNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    width: 30%;
}

.lfNav li{
    list-style: none;
    padding-right: 16px;
}






