.container {
    border: 2px solid rgb(237, 237, 237);
    background-color: rgb(250, 250, 250);
    padding: 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 30px;
}

.time {
    font-size: 1.2rem;
    font-weight: 400;
    width: 10%;
}

.nameTask{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 40%;
}



.name button {
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.name span {
    margin-top: 4px;
    margin-left: 7px;
    font-weight: 600;
}

.task input {
    border: none;
    height: 30px;
    width: 100%;
}

.task input:hover {
    border: 1px solid rgb(237, 237, 237);

}

.delete {
    cursor: pointer;
}

.delete button{
    all: unset;
    background-color: #ff3e4e;
    padding: 5px 10px;
    border-radius: 5px;

}

.delete button:hover {
    background-color: #d63542;

}

@media (max-width:1200px) {
    .time {
        width: 20%;
    }
}

@media (max-width:555px){
    .container{
        flex-direction: column;
        height: auto;
    }
    .time{
        width: 100%;
        font-weight: 500;
    }
    .nameTask{
        width: 100%;
    }
    .task {
        margin-top: 8px;
        font-weight: 500;
    }
    .name {
        margin-top: 8px;
        font-weight: 500;
    }
    .delete{
        padding: 3px 6px;
    }
    
}



